@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/*----------------- 
color palate
 ----------------*/
 .cs-background-color{
    background-color: #43D8D8;
    border-radius: 5px;
    
 }



 body{
     background-color: #D6ECEC;
     font-family: 'Rubik', sans-serif;
 }

 .cs-input-width{
     width: 100px;
     background-color: tomato;
     color: white;
     border: none;
 }

 input{
     border: none;
     outline: none;
 }
 .cs-submit-btn{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 10px;
    transition: 0.5s;
 }
 .cs-submit-btn:hover{
     background-color: white;
     border: none;
 }
 .buyer-into-btn{
     padding: 15px 10px;
     border: none;
     border-radius: 2px;
     transition: 0.5s;
 }
 .buyer-into-btn:hover{
     background-color: transparent;
     border: 1px solid white;
 }




 /*--------------
 Cars style  
 --------------*/
 .cs-card{
     background-color: #B2D9D9;
 }